<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link rel="stylesheet" href="theme.css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <div class="container pt-5" id="app" v-cloak>
        <div class="card center">
            <div v-html="myHtml"></div>
            <!-- <h2 v-text="title"></h2>
            <h2 v-once>{{ title }}</h2>
            <h2 v-pre>{{ title }}</h2>

            <button class="btn" @click="title = 'Теперь не заголовок'">Изменить</button> -->

            <ul class="item">
                <!-- <li class="list-item" v-for="item in 7">
                    {{ item }}
                </li> -->
                <!-- <li class="list-item" v-for="(value, key) in person">
                    <strong>{{ key }}</strong>{{ value }}
                </li> -->
                <li class="list-item" v-for="(item, i) in items" @click="items.splice(i, 1)" v-if="items.length!==0" :key="item">
                    <strong>{{ item }}</strong>&nbsp;
                    <input type="text" @click.stop>
                </li>
                <h3 v-show="items.length===0">Элементов нет.</h3>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>